{% extends 'base.html' %}
{% load static %}  <!-- Add this line to load static files -->

{% block title %}
Home Page
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">{% if company %}Update{% else %}Create{% endif %} Company</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Save</button>
            <a href="{% url 'companyinfo_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
    {% endblock %}